@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dc267f;
  --color-primary-light: #f9a8d4;
  --color-primary-dark: #dc267f;
  --color-secondary: #ffcb05;
  --color-secondary-light: #fef478;
  --color-secondary-dark: #f5a51a;
  --color-text: #333333;
}

body {
  @apply overflow-hidden w-dvw h-dvh text-text bg-secondary;
}

.text-body {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

.text-title {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}
